body {
    background-color: rgb(7, 7, 7);
}

main h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    padding: 0;
    margin: 0;
    text-decoration: dotted underline yellow;
}

main .container1{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1em;
    color: white;
    gap: 1em;

}

.container1 .leftside{
    width: 50%px;
    border-right: 5px solid  rgb(255, 252, 69);
    padding: 0 1em 0 1em;
    margin: 1em;
    a{
        text-decoration: none;
        padding: 1em;
        border-radius: 30px;
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 1em;
        color: white;
        transition: 0.5s;
        border: 2px solid rgb(255, 252, 69);
    }
    
    
    
}
.container1 .leftside a:hover{
    background-color: rgb(255, 252, 69) ;
    color: black;
    

}

.container1 .rightside{
    width: 50%;
    img{
        width: 400px;
        height: 400px;
        border-radius: 100%;
        margin-right: 90px;
        margin-left: 50px;
        border: 5px solid  rgb(255, 252, 69);
    }

}
